.pass{
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
}
.passPaper{
    background-color: rgba(150, 184, 218, 0.459) !important;
    width: 40%;
    padding: 40px;
    margin-left: 30%;
    margin-right: 30%;
}
.passPaper >form{
    display: flex;
    flex-direction: column;
    width: 100% !important;
}
.input{
    margin-bottom: 10px !important;
    width: 100% !important;
    
}
.btn{
    transition: 0.5s;
    width: 50% !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
}
.btn:hover{
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: cornsilk;
}
.linkBtn{
    width: 50% !important;
    margin: 10px 25% 0 25% !important;
    background-color: rgba(32, 190, 32, 0.555) !important;
}

.linkBtn:hover{
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: cornsilk;
}
@media screen and (max-width:860px) {
    .passPaper{
        width: 70% !important;
        margin: 0 15% 0 15%;
    }
}
@media screen and (max-width:560px) {
    .passPaper{
        width: 80% !important;
        margin: 0 10% 0 10%;
    }
}
@media screen and (max-width:460px) {
    .passPaper{
        width: 90% !important;
        margin: 0 5% 0 5%;
    }
}
@media screen and (max-width:360px) {
    .passPaper{
        width: 100% !important;
        margin: 0;
    }
}
@media screen and (max-width:320px) {
    .passPaper{
       font-size: small;
    }
}