@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #f789b3, #23a6d5, #23d5ab,#dadada);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.appbar{
    
    display: flex;
    justify-content: space-around;
}
.header{
    letter-spacing: 50px !important;
    text-align: center;
    font-family: 'Righteous', cursive;
     /* background: #eee !important;  */
    /* box-shadow: 0 8px 8px -4px lightblue; */
}
.header:hover{
    transition: .7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: cornsilk;
}
.lock:hover{
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: cornsilk;
}
.searchBar{
    margin-top: 1.5%;
}  
.search{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 100px ;
    width: 60%;
    background-color: #dadada;
    margin-left: 20%;
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
form>.input{
    border: none;
    background-color: inherit;
    padding: 5px 20px;
    border-radius: 50px;
    outline: none;
    text-align: center;
    width: 80%;
    letter-spacing: 5px;
    height: 30px;
}
.search>form{
    display: flex;
    justify-content: space-around;
    flex: 1;
    width: 90%;
    margin-left: 10px !important;
}

.error,.success{
    margin-top: 1%;
    width: 40%;
    margin:1% 30% 10px 30%;
    text-align: center;
    background-color: #dad2d2 !important;
    text-decoration: none;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.error:hover{
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.success:hover{
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@media screen and (max-width:560px){
    .searchBar{
        width: 100%;
        margin-top: 25%;
        background: rgba(0,0,0,0.8);
    }
    .search{
        width: 100%;
        margin-left: -0px;
        height: 55px;
    }
    .error ,.success{
        margin-top: 10px;
        width: 99%;
        margin-left: -0px;
    }
}
@media screen and (max-width:800px){
    .searchBar{
        width: 100%;
        margin-top: 15%;
        background: rgba(0,0,0,0.8);
    }
    .search{
        width: 90%;
        margin-left: 5%;
        height: 50px;
    }
    .error ,.success{
        margin-top: 15px;
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }
}
@media screen and (max-width:360px) {
    .searchBar{
        width: 100%;
        margin-top: 15%;
        background: rgba(0,0,0,0.8);
    }
    .search{
        width: 100%;
        margin-left: 0;
        height: 50px;
    }
    .error , .success{
        font-size: small;
        text-align: start;
    }
    .error>.MuiAlert-icon{
        margin-left: -10px;
    }
}
.alreadyUsage{
    background-color: rgba(245, 245, 245, 0.719);
    padding: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
}